/* Variables
   ========================================================================== */

:root {
    /* PRIMARY */
    --body-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    /* NEUTRAL */
    --main: hsla(0, 0%, 100%, 0.75);
    --stats: hsla(0, 0%, 100%, 0.6);
}

img { 
  width: 100%; /* Setting the img width to 100% for responsiveness */
}


/* BODY & MAIN
   ========================================================================== */

/**
 * 1. Centering the main part of our page vertically & horizontally
 */

body {
  display: flex; /* [1] */
  justify-content: center; /* [1] */
  align-items: center; /* [1] */
  min-height: 100vh; /* [1] */
  background: var(--body-background);
  font-family: 'Inter', sans-serif;
}

main {
  background: var(--card-background);
  margin: 1.5rem;
  border-radius: 10px;
  max-width: 20rem;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
}





/* CARD & CONTENT INSIDE
   ========================================================================== */

.card {}

  .fig { 
    margin: 0;
  }

    .fig__img {
    }


  .cont {
    margin: 0 auto;
    width: 80.5%;
    text-align: center;
  }

    .cont__h { font-weight: 700;}

    .cont__para { margin-bottom: 2.2rem;}


  .stats { 
    line-height: 1.6rem;
    font-size: 0.8rem;
    color: white;
    margin-bottom: 2rem;
  }





/* MODIFIERS
   ========================================================================== */

.cont__h--color-white { color: white }
.cont__s--color-acc { color: var(--accent); }


.cont__para--color { color: var(--stats) }

/* all living inside the STATS block */
.companies--color { color: var(--stats) }
.companies--transform { text-transform: uppercase; }
.templates--color { color: var(--stats) }
.templates--transform { text-transform: uppercase; }
.queries--color { color: var(--stats) }
.queries--transform { text-transform: uppercase; }


strong {
  display: block;
  font-size: 1.5rem;
}





/* MEDIAQUERIES
   ========================================================================== */